apache-incubator-disclaimer-resource-bundle-1.1.pom
apache-incubator-disclaimer-resource-bundle-1.1-sources.jar
apache-jar-resource-bundle-1.4.pom
apache-jar-resource-bundle-1.4-sources.jar
apache-license-header-resource-bundle-1.1.pom
apache-license-header-resource-bundle-1.1-sources.jar
apache-resource-bundles-2.pom
